@{
    ViewData["Title"] = "Claims";
}
<h2>@ViewData["Title"]</h2>

<p>The current user's claims:</p>

@if (!User.Claims.Any())
{
    <p><i>None</i></p>
}
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>